<div class='impressum'>
    <h1>Impressum</h1>
    <p>Angaben gemäß § 5 TMG</p>
    <p>Johannes Henrich <br> 
        Bornheimer Landwehr 38<br> 
        60385 Frankfurt am Main <br> 
    </p>
    <p><strong>Vertreten durch: </strong><br>
        Johannes Henrich<br>
    </p>
    <p><strong>Kontakt:</strong> <br>
        Telefon: 069-15626218<br>
        E-Mail: <a href='mailto:j.henrich@gmx.net'>j.henrich@gmx.net</a>
<br> 
<p>Impressum vom <a href="https://www.impressum-generator.de">Impressum Generator</a> der <a
         href="https://www.kanzlei-hasselbach.de/standorte/frankfurt/" rel="nofollow">Kanzlei Hasselbach, Frankfurt</a>
 </div>