.impressum{
    min-height: 60vh;
    color:white;
    background-color: #1c1c1c;
    max-width: 100%;
    padding-left: 36px;
    padding-right: 12px;
    padding-top: 60px;
    padding-bottom: 60px;

}

a {
    color:  #2Dfcd8;
    text-decoration: none;

    &:hover {
        color: #2dfcd8d4;
    }
}