.project-img {
    display: block;
    width: 500px;
    max-width: 100%;
    object-fit: contain;
}


mat-icon {
    color: white;

    &:hover {
        color: var(--secondary);
    }
}


.project-links {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;

    line-height: 1.5;
    padding:var(--space-m);
    background-color: rgba(0, 0, 0, 0.8);

    .title {
        color: var(--primary);
        font-weight: bold;
    }
    
    p{
        font-size:large;
    }

    @media (min-width:420px)and(max-width: 500px) {
        padding: var(--space-s);
        
        .description{
            display: none;
        }
   
    }
}


.github-pic{
    display:block;
    height: 26px;
    width: 26px;
    background-image:url('/assets/img/github-fill-w.png');
    background-size: cover;
   

    &:hover,:active,:focus {
        background-image:url('/assets/img/github-fill-hover.png');
    }
}