<div>
    <img class="profil-pic" src="./assets/img/Johannes.jpg">

    <h1 class="home-text">
        <div class="txt-dynamic1">Hi,<br></div>
        <div class="txt-dynamic2">I'am
            <span class="changecolor">Johannes</span> 
            Henrich,
        </div>
        <div class="left-from-insert txt-dynamic3">Web Dev<span class="insert">e</span>
            <span class="right-from-insert">loper</span>
        </div>
        <a href="#contact"><button href="#contact" class="btn-secondary">Contact me</button></a>

    </h1>

</div>

<a href="#skills">
    <span class="scroll-arrows first"></span>
    <span class="scroll-arrows second"></span>
    <span class="scroll-arrows third"></span>
</a>